<mat-spinner *ngIf="loading" mode="indeterminate" class="loading"></mat-spinner>
<mat-card *ngIf="!loading">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="{{question.icon}} icon"></mat-icon>
    </div>
    <mat-card-title>
      <h2>{{question.title}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <small>Luis Castillo - {{question.createdAt | amLocale: 'es' | amTimeAgo }}</small>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{question.description}}</p>
  </mat-card-content>
</mat-card>

<div class="answers" *ngIf="!loading">
  <h3 id="title">Respuestas</h3>
  <ul class="answers-list" *ngIf="question.answers.length > 0">

    <li *ngFor="let answer of question.answers">
      <h5>{{ answer.user.name }} - {{ answer.user.lastname }} <small>{{ answer.createdAt | amLocale: 'es' | amTimeAgo }}</small> </h5>
      <p class="answers-descripcion">
        {{ answer.description }}
      </p>
    </li>

  </ul>

  <p *ngIf="question.answers.length > 0">Se el primero en responder esta pregunta</p>
  <app-answer-form [question]="question" class="answers-form"></app-answer-form>
</div>
