.icon{
  font-size: 38px;
}

h2{
  margin: 0px;
}

.answers{
  padding: 12px;
}

.answers-list{
  padding: 0px;
  list-style: none;
}

h5 {
  margin-bottom: 0px;
}
h5 small {
  font-weight: normal;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.54);
}
.answers-descripcion{
  padding-left: 6px;
  border-left: 2px solid #eee;
  font-size: 14px;
  margin-top: 5px;
}
