<mat-toolbar color="primary">
    <span [routerLink]="['/']">Platzi Overflow</span>
    <span class="space"></span>
    <mat-icon *ngIf="!isLoggedIn()" [routerLink]="['/login']">account_circle</mat-icon>

    <div *ngIf="isLoggedIn()">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{ fullName() }}</button>
        <button mat-menu-item (click)="signOut()">Cerrar sesion</button>
      </mat-menu>
    </div>


</mat-toolbar>

<router-outlet></router-outlet>
