<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <mat-form-field>
      <input matInput placeholder="Titulo" name="title" ngModel>
  </mat-form-field>
  <mat-form-field>
      <textarea matInput placeholder="Descripcion" name="descripcion" ngModel></textarea>
  </mat-form-field>

  <mat-grid-list cols="3" rowHeight="3:2">

    <mat-grid-tile>
      <mat-radio-group name="icon" [ngModel]>
        <mat-radio-button value="none">
          <i mat-list-icon class="material-icons">help</i>
          <small>Sin icono</small>
        </mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let icon of icons">
      <mat-radio-group name="icon" [ngModel]>
        <mat-radio-button value="devicon-{{icon.name}}-{{ getIconVersion(icon) }}">
          <i mat-list-icon class="devicon-{{icon.name}}-{{ getIconVersion(icon) }} colored"></i>
        </mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>

  </mat-grid-list>

</form>

<button type="submit" mat-fab color="accent">+</button>
